In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'Name':['albin','alfia','anjaleena'],
    'Age':['21','22','22'],
    'city':['Mananthavadi','aluva','kochi']
}

df=pd.DataFrame(data)
print(df)

        Name Age          city
0      albin  21  Mananthavadi
1      alfia  22         aluva
2  anjaleena  22         kochi

In [ ]:
data1 = ['sarah',22,'kochi'],['alfia',22,'aluvaaa'],['joseph',22,'kalamaserry']
df1 = pd.DataFrame(data1, columns=['Name','Age','City'])
print(df1)

     Name  Age         City
0   sarah   22        kochi
1   alfia   22      aluvaaa
2  joseph   22  kalamaserry

In [ ]:
df=pd.read_csv('data.csv')
print (df.head())

   ID            Name                       Email  Age      Country
0   1        John Doe        john.doe@example.com   28          USA
1   2      Jane Smith      jane.smith@example.com   34       Canada
2   3    Robert Brown    robert.brown@example.com   45           UK
3   4     Emily Davis     emily.davis@example.com   30    Australia
4   5  Michael Wilson  michael.wilson@example.com   27  New Zealand

In [ ]:
 df=pd.read_csv('data.csv')
print (df.tail())

     ID            Name                       Email  Age      Country
95   96      James King      james.king@example.com   34          USA
96   97   Olivia Thomas   olivia.thomas@example.com   30       Canada
97   98  Lucas Robinson  lucas.robinson@example.com   27           UK
98   99    Amelia White    amelia.white@example.com   32    Australia
99  100   Michael Davis   michael.davis@example.com   28  New Zealand

In [ ]:
print(df)

     ID            Name                       Email  Age      Country
0     1        John Doe        john.doe@example.com   28          USA
1     2      Jane Smith      jane.smith@example.com   34       Canada
2     3    Robert Brown    robert.brown@example.com   45           UK
3     4     Emily Davis     emily.davis@example.com   30    Australia
4     5  Michael Wilson  michael.wilson@example.com   27  New Zealand
..  ...             ...                         ...  ...          ...
95   96      James King      james.king@example.com   34          USA
96   97   Olivia Thomas   olivia.thomas@example.com   30       Canada
97   98  Lucas Robinson  lucas.robinson@example.com   27           UK
98   99    Amelia White    amelia.white@example.com   32    Australia
99  100   Michael Davis   michael.davis@example.com   28  New Zealand

[100 rows x 5 columns]

In [ ]:
print(df.shape)

(100, 5)

In [ ]:
print(df.columns)

Index(['ID', 'Name', 'Email', 'Age', 'Country'], dtype='object')

In [ ]:
print(df.info)

<bound method DataFrame.info of      ID            Name                       Email  Age      Country
0     1        John Doe        john.doe@example.com   28          USA
1     2      Jane Smith      jane.smith@example.com   34       Canada
2     3    Robert Brown    robert.brown@example.com   45           UK
3     4     Emily Davis     emily.davis@example.com   30    Australia
4     5  Michael Wilson  michael.wilson@example.com   27  New Zealand
..  ...             ...                         ...  ...          ...
95   96      James King      james.king@example.com   34          USA
96   97   Olivia Thomas   olivia.thomas@example.com   30       Canada
97   98  Lucas Robinson  lucas.robinson@example.com   27           UK
98   99    Amelia White    amelia.white@example.com   32    Australia
99  100   Michael Davis   michael.davis@example.com   28  New Zealand

[100 rows x 5 columns]>

In [ ]:
print(df.describe())

               ID         Age
count  100.000000  100.000000
mean    50.500000   33.070000
std     29.011492    6.257529
min      1.000000   22.000000
25%     25.750000   28.000000
50%     50.500000   31.000000
75%     75.250000   37.250000
max    100.000000   52.000000

In [ ]:
df = pd.DataFrame(data)
print(df['Name'])
print(df.iloc[10:15])
print(df.loc[10:15])

0        albin
1        alfia
2    anjaleena
Name: Name, dtype: object
Empty DataFrame
Columns: [Name, Age, city]
Index: []
Empty DataFrame
Columns: [Name, Age, city]
Index: []

In [ ]:
df['New_Column'] = df['Age']
df

        Name Age          city New_Column
0      albin  21  Mananthavadi         21
1      alfia  22         aluva         22
2  anjaleena  22         kochi         22

In [ ]:
df['New_Column'] = df['Age'] + 10
df

TypeError: can only concatenate str (not "int") to str